
<h1 id="ultimos"> Últimos Lançamentos </h1>

<img src="../assets/retan.png" id="retan1"> 
<img src="../assets/imgbox1.png" id="imgbox1"> 

<h2 id="desclan"> Ramo de Telecomunicação no Brasil</h2>
<h3 id="papo2"> PapoCast </h3>
<h3 id="date1"> 26 Set 21</h3>
<h3 id="duration"> 1:45:18 </h3>
<button id="cardplay7"> 
  
</button>
<img src="./assets/play3.png" id="preis"> 





<img src="../assets/retan.png" id="retan2"> 
<img src="../assets/relo.png" id="imgbox2"> 

<h2 id="desclan2"> Desafios no ramo da Programação</h2>
<h3 id="papo3"> PapoCast </h3>
<h3 id="date2"> 8 Ago 21</h3>
<h3 id="duration2"> 35:40 </h3>
<button id="cardplay8"> 
  
</button>
<img src="../assets/play3.png" id="preis2"> 

