<header id="cabeca">

    <img src="../assets/logo.png" id="papo">
    <div>
        <img src="../assets/lupa.png" id="lupa">

    </div>

    <div id="div1">
    <input id="barra" type="text" placeholder="Busque aqui" disp >

    <hr id="linha">

</div>


    <img src="../assets/perfil.png" id="perfilimg">
    <h3 id="perfilname"> Wesley </h3>

</header>



<h1 id="todos"> Todos os episódios </h1>


<h4 id="title1">  PAPODCAST  </h4>

<h4 id="title2"> APRESENTADO  </h4>

<h4 id="title3">  DATA </h4>

<h4 id="title4"> DURAÇÃO </h4>

<hr id="linha1">



<img src="../assets/img1.png" id="pod1img">
<h3 id="pod1"> O ramo do Data center no Brasil</h3>
<h3 id="apre1"> PapoCast </h3>
<h3 id="data1"> 16 Jan 21  </h3>
<h3 id="dura1"> 24:26  </h3>
<button (click)="ramo()" id="cardplay"> </button>
<img src="../assets/play3.png" id="playcard">



<hr id="linha2">



<img src="../assets/img2.png" id="pod2img">
<h3 id="pod2"> Um bate papo sobre .NET</h3>
<h3 id="apre2"> PapoCast</h3>
<h3 id="data2"> 20 Fev 21  </h3>
<h3 id="dura2"> 35:40  </h3>

<button (click)="net()"id="cardplay2"> </button>
<img src="../assets/play3.png" id="playcard2">

<hr id="linha3">

<img src="../assets/img3.png" id="pod3img">
<h3 id="pod3"> Python: Por onde começar?</h3>
<h3 id="apre3"> PapoCast</h3>
<h3 id="data3"> 24 Fev 21  </h3>
<h3 id="dura3"> 4:27  </h3>

<button (click)="phyton() "id="cardplay3"> </button>
<img src="../assets/play3.png" id="playcard3">

<hr id="linha4">

<img src="../assets/img4.png" id="pod4img">
<h3 id="pod4"> Vale apena aprender CSS?</h3>
<h3 id="apre4"> PapoCast</h3>
<h3 id="data4"> 8 Mar 21  </h3>
<h3 id="dura4"> 1:27:11  </h3>
<div class="click">
<button (click)="css()" id="cardplay4"> </button>
<img src="../assets/play3.png" id="playcard4">

<hr id="linha5">

<img src="../assets/img5.png" id="pod5img">
<h3 id="pod5"> Entenda o que é HTML</h3>
<h3 id="apre5"> PapoCast</h3>
<h3 id="data5"> 25 Mar 21  </h3>
<h3 id="dura5"> 1:35:18  </h3>

,<button (click)="rest()" id="cardplay5"> </button>
<img src="../assets/play3.png" id="playcard5">

<hr id="linha6">


<img src="../assets/img6.png" id="pod6img">
<h3 id="pod6"> Um bate papo sobre REST e RESTful</h3>
<h3 id="apre6"> PapoCast</h3>
<h3 id="data6"> 6 Abr 21  </h3>
<h3 id="dura6"> 1:20:18  </h3>

<button (click)="rest()" id="cardplay6">

</button>

<img src="../assets/play3.png" id="playcard6">


<hr id="linha7">

<hr id="linha9">

<img src="../assets/retan2.png" id="quadro1">


<h1 id="titulo2"> Detalhe PapoCast </h1>

<img src="../assets/html.jpeg" id="tablet">
<img src="../assets/play2.png" id="playzin">
<a (click)=" voltar()" id="volta"> VOLTAR ULTIMOS LANÇAMENTOS </a>


<h2 id="desclan3">Entenda o que é HTML</h2>
<h2 id="desc1">Descrição:</h2>
<h4 id="desc2">Antes de tudo o HTML é a sigla para  Hyper Text <br> Markup Language. Ele  permite inserir o conteúdo <br> e  estabelecer a estrutura básica de um website. <br> Entendendo ele, você será capaz de <br> compreender as outras tecnologias.</h4>

    <h4 id="papo1"> Papo Cast </h4>

    <h4 id="date1"> 25 Mar 21  1:35:18 </h4>

